{% extends 'layout.html' %}
{% block content %}
    <div class="container col-xl-10 col-xxl-8 px-4">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-5 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Contacto</h1>
          </div>
          <div class="col-md-10 mx-auto col-lg-7">
            <form id="contact-form" class="p-4 p-md-5" method="post">
              {% csrf_token %}
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingName" name="name" placeholder="Nombre">
                <label for="floatingName">Nombre</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingLastName" name="last_name" placeholder="Apellido">
                <label for="floatingLastName">Apellido</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="Email">
                <label for="floatingInput">Email</label>
              </div>
              <div class="form-floating mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" style="height: 150px;" name="text" placeholder="Texto"></textarea>
                <label for="exampleFormControlTextarea1">Texto</label>
            </div>
            
            

              <button id="submit-btn" class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
            </form>
          </div>
        </div>
    </div>

    <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 1rem; right: 1rem; display: none;" id="success-toast">
      <div class="d-flex">
          <div class="toast-body">
              Mensaje enviado exitosamente.
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#contact-form").submit(function (e) {
          e.preventDefault();
          var formData = $(this).serialize();
          var submitBtn = $("#submit-btn");
          var originalText = submitBtn.text(); // Guardamos el contenido original del botón
    
          // Validación de campos antes de enviar el formulario
          var name = $("#floatingName").val().trim();
          var lastName = $("#floatingLastName").val().trim();
          var email = $("#floatingInput").val().trim();
          var text = $("#exampleFormControlTextarea1").val().trim();
          var isValid = true;
    
          if (name === "") {
            $("#floatingName").addClass("is-invalid");
            isValid = false;
          } else {
            $("#floatingName").removeClass("is-invalid");
          }
    
          if (lastName === "") {
            $("#floatingLastName").addClass("is-invalid");
            isValid = false;
          } else {
            $("#floatingLastName").removeClass("is-invalid");
          }
    
          if (email === "" || !isValidEmail(email)) {
            $("#floatingInput").addClass("is-invalid");
            isValid = false;
          } else {
            $("#floatingInput").removeClass("is-invalid");
          }
    
          if (text === "") {
            $("#exampleFormControlTextarea1").addClass("is-invalid");
            isValid = false;
          } else {
            $("#exampleFormControlTextarea1").removeClass("is-invalid");
          }
    
          if (!isValid) {
            return; // Detener el envío del formulario si hay campos inválidos
          }
    
          $.ajax({
            type: "POST",
            url: "{% url 'contacto' %}",
            data: formData,
            beforeSend: function () {
              submitBtn.text("Enviando..."); // Cambiar el texto del botón mientras se envía
            },
            success: function (response) {
              if (response.message) {
                var toast = $("#success-toast");
                toast.find(".toast-body").text(response.message);
                toast.show();
                setTimeout(function () {
                  toast.hide();
                }, 8000);
                $("#contact-form")[0].reset();
              } else {
                alert("Ocurrió un error al enviar el mensaje.");
              }
            },
            error: function (xhr, status, error) {
              alert("Error al enviar el mensaje: " + xhr.responseText);
            },
            complete: function () {
              submitBtn.text(originalText); // Restaurar el contenido original del botón después de completar la solicitud
            },
          });
        });
    
        // Función para validar el formato del correo electrónico
        function isValidEmail(email) {
          // Expresión regular para validar el formato del correo electrónico
          var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          return emailPattern.test(email);
        }
      });
    </script>
    
{% endblock %}
