{% extends 'layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'css/estiloEncabzados.css' %}">
<link rel="stylesheet" href="{% static 'css/nosotros.css' %}">

<!-- Sección de encabezado -->
<div class="px-4 text-center d-flex align-items-center hero-section">
    <div class="container">
        <h1 class="display-3 fw-bold text-body-emphasis">
            <span class="word">Webs</span>
            <span class="word changing-word">enfocadas</span>
        </h1>
        <h1 class="display-3 fw-bold text-body-emphasis">
            <span class="word">100%</span>
            <span class="word">para</span>
            <span class="word">colegios</span>
        </h1>
        <div class="col-lg-8 mx-auto">
            <p class="lead mb-4 justificado">Con más de 6 años de experiencia en el sector educativo, hemos desarrollado y perfeccionado una amplia gama de recursos y soluciones destinadas a mejorar la gestión y la experiencia educativa en los colegios.</p>
        </div>
    </div>
</div>


<!-- Sección de nuestro equipo -->
<section class="team-section py-5 bg-light">
    <div class="container">
        <h2 class="section-title text-center mb-5">Nuestro Equipo</h2>
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="team-member text-center">
                    <div class="image-container mx-auto mb-3">
                        <img src="{% static 'images/tomas.heic' %}" alt="Tomás Salgado" class="img-fluid rounded-circle">
                    </div>
                    <h3>Carlos Valenzuela</h3>
                    <p>Cargo</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="team-member text-center">
                    <div class="image-container mx-auto mb-3">
                        <img src="{% static 'images/tomas.heic' %}" alt="Tomás Salgado" class="img-fluid rounded-circle">
                    </div>
                    <h3>Tomás Salgado</h3>
                    <p>CEO</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="team-member text-center">
                    <div class="image-container mx-auto mb-3">
                        <img src="{% static 'images/tomas.heic' %}" alt="Tomás Salgado" class="img-fluid rounded-circle">
                    </div>
                    <h3>Luz Gajardo</h3>
                    <p>Cargo</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sección de nuestros valores -->
<section class="values-section py-5">
    <div class="container">
        <h2 class="section-title text-center mb-5">Nuestros Valores</h2>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="value-card h-100">
                    <div class="value-icon">
                        <i class="bi bi-lightbulb"></i>
                    </div>
                    <div class="value-content">
                        <h3>Innovación</h3>
                        <p>Buscamos constantemente nuevas formas de mejorar la experiencia educativa, implementando tecnologías de vanguardia y metodologías innovadoras.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="value-card h-100">
                    <div class="value-icon">
                        <i class="bi bi-shield-check"></i>
                    </div>
                    <div class="value-content">
                        <h3>Confiabilidad</h3>
                        <p>Nos comprometemos a ofrecer soluciones seguras y confiables, garantizando la integridad y privacidad de los datos de nuestros usuarios en todo momento.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="value-card h-100">
                    <div class="value-icon">
                        <i class="bi bi-book"></i>
                    </div>
                    <div class="value-content">
                        <h3>Educación Centrada</h3>
                        <p>Nuestro enfoque principal es mejorar la experiencia educativa. Cada solución que desarrollamos está diseñada pensando en las necesidades específicas de estudiantes, profesores y administradores escolares.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="value-card h-100">
                    <div class="value-icon">
                        <i class="bi bi-arrow-repeat"></i>
                    </div>
                    <div class="value-content">
                        <h3>Adaptabilidad</h3>
                        <p>Reconocemos que cada institución educativa es única. Nuestras soluciones son flexibles y personalizables para adaptarse a las necesidades cambiantes de cada colegio y del panorama educativo en general.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sección de Únete a Nosotros -->
<section class="join-us-section py-5 bg-primary text-white">
    <div class="container text-center">
        <h2 class="section-title mb-4">Únete a Nosotros</h2>
        <p class="lead mb-4">Estamos siempre buscando talentos apasionados por la educación y la tecnología. ¿Quieres ser parte de nuestra misión?</p>
        <a href="#" class="btn btn-light btn-lg">Ver Oportunidades</a>
    </div>
</section>

<script src="{% static 'js/efectoEncabzados.js' %}"></script>
<script src="{% static 'js/nosotros.js' %}"></script>
{% endblock %}