{% extends 'layout.html' %}

{% block content %}

{% load static %}

<div class="px-4 py-5 text-center bg-info d-flex align-items-center" >
    <div class="container">
        <h1 class="display-5 fw-bold text-body-emphasis mb-4">Prueba gratuita por 15 días</h1>
        <div class="col-lg-8 mx-auto">
            
            <p class="lead mb-4">
                ¿Cómo funciona? Simplemente contáctanos y en poco tiempo tendrás tu propia página web para tu colegio. 
            </p>
            
        </div>
    </div>
</div>

<div class="container-fluid bg-light py-5  ">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">¡Experimenta nuestro servicio sin compromiso!</h1>
                <p class="lead text">
                     Te ofrecemos una prueba gratuita de 15 días para explorar todas las funcionalidades de nuestro sitio web para colegios.
                </p>
               
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-light py-5">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-lg-6">
                <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">¡Experimenta nuestro servicio sin compromiso!</h1>
                <p class="lead text">
                    Durante los próximos 15 días, podrás utilizarla y evaluar si se ajusta a las necesidades de tu institución educativa.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid bg-light py-5  ">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">¡Experimenta nuestro servicio sin compromiso!</h1>
                <p class="lead text">
                    Después de este periodo, nos pondremos en contacto contigo para discutir los detalles de tu compra.
                </p>
               
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-light py-5">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-lg-6">
                <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">¡Experimenta nuestro servicio sin compromiso!</h1>
                <p class="lead text">
                    Si decides continuar con nosotros, estaremos encantados de ayudarte a mejorar la comunicación y la experiencia digital en tu colegio.                </p>
            </div>
        </div>
    </div>
</div>



{% endblock %}

