{% extends 'layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'css/components/animated-header.css' %}">
<link rel="stylesheet" href="{% static 'css/components/scroll-reveal.css' %}">
<link rel="stylesheet" href="{% static 'css/sections.css' %}">
<link rel="stylesheet" href="{% static 'css/utilities.css' %}">

<header class="animated-header px-4 text-center d-flex align-items-center" style="height: 600px;">
    <div class="container">
        <h1 class="display-3 fw-bold text-body-emphasis">
            <span class="word">Nuestros</span>
            <span class="word">planes</span>
        </h1>
        <div class="col-lg-8 mx-auto">
            <p class="lead mb-4 ">Con más de 6 años de experiencia en el sector educativo, hemos desarrollado y perfeccionado una amplia gama de recursos y soluciones destinadas a mejorar la gestión y la experiencia educativa en los colegios.</p>
        </div>
    </div>
</header>

<main>
    <section class="pricing-section py-5 fade-in-element">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 mb-3">
                <!-- Plan Básico -->
                <div class="col">
                    <div class="pricing-plan mb-4 rounded-3">
                        <div class="py-3">
                            <h4 class="fs-2 fw-bold text-start">Plan Básico</h4>
                        </div>
                        <div class="plan-details">
                            <h1 class="pricing fs-1">$19.990<small class="text-muted fw-light fs-5">/mes</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Noticias</li>
                                <li>Comunicados</li>
                                <li>Eventos</li>
                                <li>Galeria de fotos</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-dark">Elegir plan</button>
                        </div>
                    </div>
                </div>
                <!-- Plan Estándar -->
                <div class="col">
                    <div class="pricing-plan mb-4 rounded-3">
                        <div class="py-3">
                            <h4 class="fs-2 fw-bold text-start">Plan Estándar</h4>
                        </div>
                        <div class="plan-details">
                            <h1 class="pricing fs-1">$39.990<small class="text-muted fw-light fs-5">/mes</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Noticias</li>
                                <li>Comunicados</li>
                                <li>Eventos</li>
                                <li>Galeria de fotos</li>
                                <li>Calendario de evaluaciones</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-dark">Elegir plan</button>
                        </div>
                    </div>
                </div>
                <!-- Plan Premium -->
                <div class="col">
                    <div class="pricing-plan mb-4 rounded-3">
                        <div class="py-3">
                            <h4 class="fs-2 fw-bold text-start">Plan Premium</h4>
                        </div>
                        <div class="plan-details">
                            <h1 class="pricing fs-1">$59.990<small class="text-muted fw-light fs-5">/mes</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Noticias</li>
                                <li>Comunicados</li>
                                <li>Eventos</li>
                                <li>Galeria de fotos</li>
                                <li>Calendario de evaluaciones</li>
                                <li>Biblio</li>
                                <li>IA integrada</li>
                            </ul>
                            <a type="button" class="w-100 btn btn-lg btn-dark" href="{% url 'seleccion_plan' %}">Elegir plan</a>                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="{% static 'js/components/animated-header.js' %}"></script>
<script src="{% static 'js/components/scroll-reveal.js' %}"></script>

{% endblock %}