{% extends 'base.html' %}

{% block content %}
<div id="cursosContent" style="display: none;">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2>Gestión de Cursos</h2>
                <button id="nuevoCursoBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoCursoModal">
                    <i class="fas fa-plus me-2"></i>Nuevo Curso
                </button>
            </div>
            
            {% include 'cursos/partials/filtros.html' %}
            
            <div class="row" id="cursosContainer">
                <!-- Los cursos se cargarán aquí dinámicamente -->
            </div>
        </div>
    </div>
</div>

{% include 'cursos/partials/modal_nuevo_curso.html' %}
{% include 'cursos/partials/modal_editar_curso.html' %}
{% include 'cursos/partials/modal_asignaturas.html' %}
{% endblock %} 